@tailwind preflight;
@tailwind components;

.card-border {
  @apply border-grey-darker border-solid border rounded m-2 flex flex-col justify-between pt-1 pb-1;
}

.trans {
  transition: all 200ms;
}

@tailwind utilities;